body {
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
}
.wrapper {
  max-width: 1320px;
  margin: 0 auto;
  z-index: 1;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
